body {
 
 	margin: 0;
 		
	.sidebar {
		width: 20%;
		background-color: #384164;
		h1 {
  		text-transform: capitalize;
    }
		nav {
  		ul {
    		list-style: none;
  		}
		}
  }
	
	section {
    	float: left;
    	ul {
      	list-style: none;
    	}
  	}
  	
  	header {
  	  background-color: #555863;
	 }	
}